body {
    font-family: arial, sans-serif;
}

.page-wrap {
    width: 800px;
    margin: 0 auto;
    margin-top: 0px;
}

.palette #red, .palette #blue, .palette #yellow, .palette #white, .palette #black {
    border: solid 2px black;
    height: 50px; width: 50px;
    margin: 5px;
}

.palette #red {
    background-color: red;
}

.palette #blue {
    background-color: #1919FF;
}

.palette #yellow {
    background-color: yellow;
}

.palette #white {
    background-color: white;
}

.palette #black {
    background-color: black;
}

.palette {
    border: solid 2px black;
    border-radius: 10px;
    margin: 0px 100px 50px 0px;
    width: 64px;
    float: left;
}

.palette .container {
    padding: 0;
    margin: 0;
}

.canvas {
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    float: left;
}

.canvas .container {
    border: solid 3px black;
    float: right;
    padding: 0px;
    margin: 0px;
    width: 524px;
}

.header {
    overflow: hidden;
    margin-bottom: 60px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

.header .header-text {
    display: block;
    float: left;
}

.header #link-home {
    margin-top: 10px;
    display: block;
    float: right;
}

.contents a {
    float: left;
    clear: both;
    margin-top: 50px;
}

#row1box1 {border: solid 3px black; height: 120px; width: 181px; float:left;}
#row1box2 {border: solid 3px black; height: 120px; width: 119px; float:left;}
#row1box3 {border: solid 3px black; height: 120px; width: 75px; float:left;}
#row1box4 {border: solid 3px black; height: 120px; width: 125px; float:left;}
#row2box1 {border: solid 3px black; height: 80px; width: 125px; float:left; clear: both}
#row2box2 {border: solid 3px black; height: 80px; width: 50px; float:left;}
#row2box3 {border: solid 3px black; height: 80px; width: 200px; float:left;}
#row2box4 {border: solid 3px black; height: 80px; width: 125px; float:left;}
#row3box1 {border: solid 3px black; height: 140px; width: 125px; float:left; clear: both}
#row3box2 {border: solid 3px black; height: 140px; width: 50px; float:left;}
#row3box3 {border: solid 3px black; height: 140px; width: 150px; float:left;}
#row3box4 {border: solid 3px black; height: 140px; width: 175px; float:left;}
#row4box1 {border: solid 3px black; height: 30px; width: 100px; float:left; clear: both}
#row4box2 {border: solid 3px black; height: 30px; width: 150px; float:left;}
#row4box3 {border: solid 3px black; height: 30px; width: 175px; float:left;}
#row4box4 {border: solid 3px black; height: 30px; width: 75px; float:left;}
#row5box1 {border: solid 3px black; height: 130px; width: 150px; float:left; clear: both}
#row5box2 {border: solid 3px black; height: 130px; width: 100px; float:left;}
#row5box3 {border: solid 3px black; height: 130px; width: 175px; float:left;}
#row5box4 {border: solid 3px black; height: 130px; width: 75px; float:left;}
