p	{
	color: grey;
	padding: 10px;
	}

#Cow {
	float: right;
}

#container {
	width: 1200px;
	height: 500px;
	background: #DDD;
	margin-bottom: 50px;
}

img {
	margin-left: 10px;
	margin-bottom: 10px;
}