body {
    width: 1200px
}

p {
	color: grey;
	padding: 10px;
}

#Cow {
	float: right;
}

h1 {
    float: left;
    margin-top: 0px;
}

#header {
    overflow: hidden;
}

#link-home {
    float: right
}

#link-home p {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}

#container {
	width: 1200px;
	height: 500px;
	background: #DDD;
	margin-bottom: 50px;
    clear: both;
}

img {
	margin-left: 10px;
	margin-bottom: 10px;
}
