canvas {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
}

body {
    background-color: white; 
    font-family: arial, sans-serif;
}

#page-wrap {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    margin-top: 0px;
}

.header {
    overflow: hidden;
}

#header-text {
    display: block;
    float: left;
    margin-left: 10px;
}

h1 {
    margin: 0;
}

#link-home {
    display: block;
    float: right;
    margin-top: 10px; 
    margin-right: 10px;
}

#inputs {
    margin: 20px 0px 30px 10px; /* Only works for bottom border*/
    clear: both;
}

#button {
    margin-top: 10px;
}
